<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>地址</th>
        <th>状态</th>
        <th>生日</th>
        <th>操作</th>
    </tr>
        <tr th:each="students:${list}">
            <td th:text="${students.xh}"></td>
            <td th:text="${students.name}"></td>
            <td th:text="${students.age}"></td>
            <td th:text="${students.sex}"></td>
            <td th:text="${students.address}"></td>
            <td th:text="${students.state}"></td>
            <td th:text="${#dates.format(students.birthday,'yyyy-MM-dd')}"></td>
            <td>
                <a href="#">删除</a>
                <a href="#">修改</a>
            </td>
        </tr>
</table>
</body>
</html>